
/* The main content should push the footer to at least the bottom of the screen */
/* this is why 'body' has flex, and 'main' has a flex of 1 */
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;  /* default HTML gives a small border, separating the content from the edge with an ugly band */
}
main{
    flex: 1; /* push the footer via empty space to bottom, if needed */
    margin: 2rem 1.5rem 2rem;
}

/* basic panel for consistency */
.regular_panel{
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 27rem; /* this is a hack and should be changed, main does not have a defined height, so can't do 100% */
    max-width: 55rem;

    border: solid 1px grey;
    border-radius: 1rem;

    background-color: #EEE;
    box-shadow: 0rem 1rem 5rem rgba(0,0,0,0.2);
}

/* make inputs look the same across the site */
select, input{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: white;
}
select{
    cursor: pointer;
}

/* a standard button for the site. Easy to change all buttons on the site */
.regular_button {
    display: flex;
    padding: 10px 16px;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    
    border: none;
    border-radius: 6px;

    cursor: pointer;
    background: #d82b42;
    color: white;
    text-decoration: none;
    transition: 0.3s ease;
}
.no_decoration{
    text-decoration: none;
}
main button:hover {
    background: #b82036; /* Darker red on hover */
}
.edit_button{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    height: 2rem;
    aspect-ratio: 1/1;
    
    background: #d82b42;
    color: white;
    background-image: url('../img/edit.png'); /* out of /styles, into /img */
    background-size: cover;
    background-position: center;
    
    border: none;
    border-radius: 6px;

    cursor: pointer;
}
.edit_button:hover {
    background: #b82036; /* Darker red on hover */
    background-image: url('../img/edit.png'); /* out of /styles, into /img */
    background-size: cover;
    background-position: center;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f44336; /* red */
    color: white;
    padding: 16px 32px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    transition: opacity 0.3s ease-in-out;
  }
  
  .hidden {
    display: none;
  }
  