* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------ main content (right box) -------------------- */
.sidebar img{
    width:235px;
}
.sidebar .inline{
    display: inline;
}
.sidebar .difficulty{
    font-size: 25px;
}
.openbtn{
    text-align: left;
}
.openbtn span{
    float:right;
}

/* ------------------------ main content (right box) -------------------- */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    position: absolute;
    top: 150px;
    right: 0;
    width: 600px;
    padding: 1rem;
    overflow-y: hidden;

    font-family: "Comic Sans", sans-serif;
    min-height: 100vh;
    border: 3px solid #000285;
    color: rgb(255, 165, 47);
}
.year{
    display: flex;
    flex-direction: column;
    width: 100%;

    border: 2px dashed #000;
}
.year h3{
    margin: 1rem;
}
.semester{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
}
.fall{
    background-color: orange;
}
.winter{
    background-color: rgb(0, 179, 255);
}
.spring{
    background-color: rgb(250, 114, 255);
}
.summer{
    background-color: rgb(240, 243, 80);
}

.course_tile{
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 10rem;
    padding:0.5rem;

    border: solid 1px black;
    border-radius: 0.75rem;
    
    background-color: #FF64F1;
    color: #fff;
    cursor: grab;
}
