footer{
    text-align: center;
    font-size: small;
    padding: 3rem 1.5rem;

    background-color: gray;
    color: #DDD;
}
.footer_links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}
footer a {
    white-space: nowrap;
    padding: 0.5rem;
    color: inherit;
}
footer a:visited {
    color: #BBB;
}