
.input_panel{
    display: grid;
    margin: 1rem;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    align-items: center;
}
.btn_panel{
    margin: 1rem;
    display: flex;
    gap: 1rem;
}

.login_btn{
    width: 6rem;
}
.welcome{
    position: absolute;
    left: 2rem;
    top: 2rem;
    margin: 0rem;
}

